/*===== COLORS =======*/
/*===== FONTS ======*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
/*====== MIXINGS ========*/
/*====HEADER====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item:visited {
  background-color: red;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon i::before {
  font-family: "FontAwesome";
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 75%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.popup-product .info-product #content .picture {
  width: 30%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: .85rem;
}

@media (max-width: 770px) {
  .popup-product .popup-product .info-product #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .popup-product .popup-product .info-product #content .content-product .title {
    font-size: .8rem !important;
  }
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  color: #333;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*======= FINAL FOOTER ========*/
/*===== COLORS =======*/
/*===== FONTS ======*/
/*====== MIXINGS ========*/
/*====HEADER====*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item:visited {
  background-color: red;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon i::before {
  font-family: "FontAwesome";
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 75%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.popup-product .info-product #content .picture {
  width: 30%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: .85rem;
}

@media (max-width: 770px) {
  .popup-product .popup-product .info-product #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .popup-product .popup-product .info-product #content .content-product .title {
    font-size: .8rem !important;
  }
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  color: #333;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*======= FINAL FOOTER ========*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin-left: 0;
}

/*============ HEADER ===============*/
/*============ FINAL HEADER ===============*/
/*=========== BUSCADOR INGREDIENTES ================*/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1140px;
  height: 100%;
  /*=========== FINAL BUSCADOR INGREDIENTES ================*/
  /*============ CONTENEDOR INGREDIENTES =============*/
}

.main-container .full-width-search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 2rem 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-container .full-width-search_container .principal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-container .full-width-search_container .principal_container .container_add {
  width: 100%;
}

.main-container .full-width-search_container .principal_container .container_add #form-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso {
  width: 70%;
  padding: 1rem 0 1rem 1rem;
  border-radius: 5px;
  border: none;
  margin-right: 1rem;
  background-color: rgba(128, 128, 128, 0.15);
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso::-webkit-input-placeholder {
  font-size: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso:-ms-input-placeholder {
  font-size: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso::-ms-input-placeholder {
  font-size: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso::placeholder {
  font-size: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_add, .main-container .full-width-search_container .principal_container .container_add #form-add #btn_repeat {
  width: 100px;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 .5rem;
  font-size: 1rem;
  font-weight: 600;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_add:hover, .main-container .full-width-search_container .principal_container .container_add #form-add #btn_repeat:hover {
  font-weight: 600;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_add {
  background-color: #283618;
  color: #fff;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_add:hover {
  -webkit-box-shadow: 0 0 2px 2px rgba(96, 108, 56, 0.6);
          box-shadow: 0 0 2px 2px rgba(96, 108, 56, 0.6);
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_repeat {
  background-color: transparent;
  color: #283618;
  border: 1px solid #283618;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_repeat:hover {
  -webkit-box-shadow: 0 0 2px 2px rgba(96, 108, 56, 0.6);
          box-shadow: 0 0 2px 2px rgba(96, 108, 56, 0.6);
}

.main-container .full-width-list_search_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .full-width-list_search_container .listado_ingredientes {
  width: 1140px;
}

.main-container .full-width-list_search_container .listado_ingredientes #lista_ingredientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #283618;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  position: relative;
}

.main-container .full-width-list_search_container .listado_ingredientes #lista_ingredientes li {
  cursor: pointer;
  margin: 1.5rem 1rem;
}

.main-container .full-width-list_search_container .listado_ingredientes #lista_ingredientes li a {
  padding: 1rem;
  border-radius: 6px;
  color: #FEFAE0;
  text-decoration: none;
  background-color: #283618;
}

.main-container .full-width-list_search_container .listado_ingredientes #lista_ingredientes li a:hover {
  background-color: #DDA15E;
  color: #283618;
  font-weight: 600;
}

.main-container .top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-container .top-info h5 span {
  cursor: pointer;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 400;
  text-decoration: underline;
}

.main-container .top-info h6 {
  color: #283618;
  font-weight: 400;
}

.main-container .table_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 2rem 0;
}

.main-container .table_products .product {
  position: relative;
  margin: .78rem;
  width: 260px;
  height: 315px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
          box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
  border-radius: 16px;
}

.main-container .table_products .product .picture {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-container .table_products .product .picture .picture-product {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 170px;
  height: 170px;
}

.main-container .table_products .product .content .title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  padding: .6rem;
  overflow: hidden;
}

.main-container .table_products .product .content .description {
  display: none;
}

.main-container .table_products .product .read {
  font-size: .8rem;
  font-weight: 400;
  position: absolute;
  color: #333;
  bottom: 14px;
  left: 12px;
}

.main-container .table_products .product .read i {
  font-size: 16px;
  position: absolute;
  margin-left: .5rem;
}

.main-container .table_products .product .read i::before {
  font-family: "FontAwesome";
}

/*============ FINAL CONTENEDOR INGREDIENTES =============*/
/*============ FOOTER ===============*/
/*============ FINAL FOOTER ===============*/
/*===== COLORS =======*/
/*===== FONTS ======*/
/*====== MIXINGS ========*/
/*====HEADER====*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item:visited {
  background-color: red;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon i::before {
  font-family: "FontAwesome";
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 75%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.popup-product .info-product #content .picture {
  width: 30%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: .85rem;
}

@media (max-width: 770px) {
  .popup-product .popup-product .info-product #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .popup-product .popup-product .info-product #content .content-product .title {
    font-size: .8rem !important;
  }
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  color: #333;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*======= FINAL FOOTER ========*/
body {
  background: #FEFAE0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper {
  width: 350px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
          box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
}

body .wrapper h1 {
  font-size: 2rem;
  color: #333;
}

body .wrapper p {
  margin-bottom: 1.7rem;
}

body .wrapper form input {
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 8px;
}

body .wrapper form .recover {
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}

body .wrapper form .recover a {
  text-decoration: none;
  color: #333;
}

body .wrapper button {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background-color: #606C38;
  color: #fff;
  cursor: pointer;
}

body .wrapper button:hover {
  background-color: #283618;
}

body .wrapper .or {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}

body .wrapper .icons i {
  color: #606C38;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid #283618;
}

body .wrapper .icons i:hover {
  color: #FEFAE0;
  background: #283618;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid #283618;
}

body .wrapper .not-member {
  font-size: 0.8rem;
  margin-top: 1.4rem;
}

body .wrapper .not-member a {
  color: #BC6C25;
  text-decoration: none;
}

body .wrapper .not-member a:hover {
  text-decoration: underline;
}

/*===== COLORS =======*/
/*===== FONTS ======*/
/*====== MIXINGS ========*/
/*====HEADER====*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item:visited {
  background-color: red;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon i::before {
  font-family: "FontAwesome";
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 75%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.popup-product .info-product #content .picture {
  width: 30%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: .85rem;
}

@media (max-width: 770px) {
  .popup-product .popup-product .info-product #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .popup-product .popup-product .info-product #content .content-product .title {
    font-size: .8rem !important;
  }
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  color: #333;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*======= FINAL FOOTER ========*/
/*============ HEADER ===============*/
/*============ FINAL HEADER ===============*/
/*====MAIN CONTENT====*/
#main-container {
  width: 1140px;
  height: 100vh;
  padding-left: 50px;
}

#main-container .mas-buscados .top-info-dashboard, #main-container .mas-cambiados .top-info-dashboard, #main-container .mas-vendidos .top-info-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

#main-container .mas-buscados .top-info-dashboard #mas_buscado, #main-container .mas-cambiados .top-info-dashboard #mas_buscado, #main-container .mas-vendidos .top-info-dashboard #mas_buscado {
  font-size: 1.5rem;
  padding-left: 1rem;
}

#main-container .mas-buscados .top-info-dashboard #more-results, #main-container .mas-cambiados .top-info-dashboard #more-results, #main-container .mas-vendidos .top-info-dashboard #more-results {
  text-decoration: none;
  padding: 1rem 1.2rem;
  border-radius: 16px;
  font-size: 1rem;
  background-color: transparent;
  color: #606C38;
  border: 1.5px solid #283618;
}

#main-container .mas-buscados .top-info-dashboard #more-results:hover, #main-container .mas-cambiados .top-info-dashboard #more-results:hover, #main-container .mas-vendidos .top-info-dashboard #more-results:hover {
  color: #fff;
  background-color: #283618;
}

#main-container .mas-buscados .container-cards, #main-container .mas-cambiados .container-cards, #main-container .mas-vendidos .container-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.5rem 0;
}

#main-container .mas-buscados .container-cards .card, #main-container .mas-cambiados .container-cards .card, #main-container .mas-vendidos .container-cards .card {
  position: relative;
  margin: .78rem;
  width: 247px;
  height: 325px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
          box-shadow: 0 0 16px rgba(51, 51, 51, 0.3);
  border-radius: 16px;
}

#main-container .mas-buscados .container-cards .card .picture, #main-container .mas-cambiados .container-cards .card .picture, #main-container .mas-vendidos .container-cards .card .picture {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#main-container .mas-buscados .container-cards .card .picture img, #main-container .mas-cambiados .container-cards .card .picture img, #main-container .mas-vendidos .container-cards .card .picture img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 170px;
  height: 170px;
}

#main-container .mas-buscados .container-cards .card .marca, #main-container .mas-cambiados .container-cards .card .marca, #main-container .mas-vendidos .container-cards .card .marca {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  padding: .6rem;
  overflow: hidden;
}

#main-container .mas-buscados .container-cards .card .read_more, #main-container .mas-cambiados .container-cards .card .read_more, #main-container .mas-vendidos .container-cards .card .read_more {
  font-size: .8rem;
  font-weight: 400;
  position: absolute;
  color: #333;
  bottom: 14px;
  left: 12px;
}

#main-container .mas-buscados .container-cards .card .read_more i, #main-container .mas-cambiados .container-cards .card .read_more i, #main-container .mas-vendidos .container-cards .card .read_more i {
  font-size: 16px;
  position: absolute;
  margin-left: .5rem;
}

#main-container .mas-buscados .container-cards .card .read_more i::before, #main-container .mas-cambiados .container-cards .card .read_more i::before, #main-container .mas-vendidos .container-cards .card .read_more i::before {
  font-family: "FontAwesome";
}

#main-container .mas-buscados .container-cards .card .description, #main-container .mas-cambiados .container-cards .card .description, #main-container .mas-vendidos .container-cards .card .description {
  display: none;
}

#main-container .mas-buscados .container-cards .card:hover, #main-container .mas-cambiados .container-cards .card:hover, #main-container .mas-vendidos .container-cards .card:hover {
  -webkit-box-shadow: 0 0 25px rgba(51, 51, 51, 0.6);
          box-shadow: 0 0 25px rgba(51, 51, 51, 0.6);
}

@media (max-width: 1140px) {
  #main-container .container-cards {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (max-width: 770px) {
  #main-container .top-info-dashboard {
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  #main-container .top-info-dashboard #mas_buscado {
    font-size: 1.2rem !important;
  }
  #main-container .top-info-dashboard #more-results {
    padding: .5rem 1rem !important;
    font-size: .8rem !important;
    border-radius: 8px !important;
  }
  #main-container .container-cards {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #main-container .container-cards .card {
    width: 232px !important;
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  #main-container #main-container {
    padding-left: 50px !important;
  }
  #main-container .top-info-dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  #main-container .top-info-dashboard #mas_buscado {
    font-size: 1rem !important;
    padding-left: 0 !important;
    padding-bottom: .5rem !important;
  }
  #main-container .top-info-dashboard #more-results {
    padding: .5rem 1rem !important;
    font-size: .8rem !important;
    border-radius: 8px !important;
  }
  #main-container .container-cards {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #main-container .container-cards .card {
    width: 232px !important;
  }
}

/*====FINAL MAIN CONTENT====*/
/*============ FOOTER ===============*/
/*============ FINAL FOOTER ===============*/
/*===== COLORS =======*/
/*===== FONTS ======*/
/*====== MIXINGS ========*/
/*====HEADER====*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item:visited {
  background-color: red;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon i::before {
  font-family: "FontAwesome";
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 75%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.popup-product .info-product #content .picture {
  width: 30%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: .85rem;
}

@media (max-width: 770px) {
  .popup-product .popup-product .info-product #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .popup-product .popup-product .info-product #content .content-product .title {
    font-size: .8rem !important;
  }
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  color: #333;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*======= FINAL FOOTER ========*/
/*============ HEADER ===============*/
/*============ FINAL HEADER ===============*/
/*====MAIN CONTAINER====*/
/*====FINAL MAIN CONTAINER====*/
#main-container-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
  height: 100vh;
}

#main-container-account .wrapper_account_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 20px rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 20px rgba(51, 51, 51, 0.5);
  border-radius: 10px;
  background-color: #fff;
  width: 80%;
}

#main-container-account .wrapper_account_profile .picture_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#main-container-account .wrapper_account_profile .picture_profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #333;
}

#main-container-account .wrapper_account_profile .info_profile {
  width: 60%;
  padding: 1rem;
}

#main-container-account .wrapper_account_profile .btn_profile {
  margin: 1rem 0;
}

#main-container-account .wrapper_account_profile .btn_profile button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#main-container-account .wrapper_account_profile .btn_profile #modify {
  background-color: #606C38;
  color: #FEFAE0;
}

#main-container-account .wrapper_account_profile .btn_profile #modify:hover {
  background-color: #283618;
}

#main-container-account .wrapper_account_profile .btn_profile #save {
  color: #FEFAE0;
  background-color: #283618;
}

#main-container-account .wrapper_account_profile .btn_profile #save:hover {
  background-color: #606C38;
}

#main-container-account .wrapper_account_profile .btn_profile #delete {
  background-color: #fff;
  border: 1px solid #BC6C25;
  color: #BC6C25;
}

#main-container-account .wrapper_account_profile .btn_profile #delete:hover {
  background-color: #BC6C25;
  color: #FEFAE0;
}

/*============ FOOTER ===============*/
/*============ FINAL FOOTER ===============*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
