/*===== COLORS =======*/
/*===== FONTS ======*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap");
/*====== MIXINGS ========*/
/*====HEADER====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FEFAE0;
  font-size: 1.2rem;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  font-family: "FontAwesome" !important;
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 55%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-product .info-product #content .picture {
  width: 40%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1.2rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: 1rem;
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  background-color: #283618;
  border-top: 1px solid #283618;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #FEFAE0;
  font-weight: 300;
  z-index: 2;
}

/*======= FINAL FOOTER ========*/
/*===== COLORS =======*/
/*===== FONTS ======*/
/*====== MIXINGS ========*/
/*====HEADER====*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FEFAE0;
  font-size: 1.2rem;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  font-family: "FontAwesome" !important;
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 55%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-product .info-product #content .picture {
  width: 40%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1.2rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: 1rem;
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  background-color: #283618;
  border-top: 1px solid #283618;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #FEFAE0;
  font-weight: 300;
  z-index: 2;
}

/*======= FINAL FOOTER ========*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin-left: 0;
}

/*============ HEADER ===============*/
/*============ FINAL HEADER ===============*/
/*=========== BUSCADOR INGREDIENTES ================*/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  /*=========== FINAL BUSCADOR INGREDIENTES ================*/
  /*============ CONTENEDOR INGREDIENTES =============*/
}

.main-container .full-width-search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #606C38;
  width: 60%;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-container .full-width-search_container .principal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
}

.main-container .full-width-search_container .principal_container .container_add {
  width: 100%;
}

.main-container .full-width-search_container .principal_container .container_add #form-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso {
  width: 70%;
  padding: 1rem 0 1rem 1rem;
  border-radius: 5px;
  border: none;
  margin-right: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso::-webkit-input-placeholder {
  font-size: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso:-ms-input-placeholder {
  font-size: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso::-ms-input-placeholder {
  font-size: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #ingreso::placeholder {
  font-size: 1rem;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_add, .main-container .full-width-search_container .principal_container .container_add #form-add #btn_repeat {
  width: 24%;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #FEFAE0;
  cursor: pointer;
  margin: 0 .5rem;
  font-size: 1rem;
  font-weight: 600;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_add:hover, .main-container .full-width-search_container .principal_container .container_add #form-add #btn_repeat:hover {
  font-weight: 600;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_add {
  color: #333;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_add:hover {
  -webkit-box-shadow: 0 0 20px rgba(254, 250, 224, 0.8);
          box-shadow: 0 0 20px rgba(254, 250, 224, 0.8);
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_repeat {
  background-color: #283618;
  color: #FEFAE0;
}

.main-container .full-width-search_container .principal_container .container_add #form-add #btn_repeat:hover {
  -webkit-box-shadow: 0 0 20px rgba(254, 250, 224, 0.8);
          box-shadow: 0 0 20px rgba(254, 250, 224, 0.8);
}

.main-container .full-width-list_search_container {
  width: 60%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .full-width-list_search_container .listado_ingredientes {
  width: 1140px;
}

.main-container .full-width-list_search_container .listado_ingredientes #lista_ingredientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #283618;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  position: relative;
}

.main-container .full-width-list_search_container .listado_ingredientes #lista_ingredientes li {
  cursor: pointer;
  margin: 1.5rem 1rem;
}

.main-container .full-width-list_search_container .listado_ingredientes #lista_ingredientes li a {
  padding: 1rem;
  border-radius: 6px;
  color: #FEFAE0;
  text-decoration: none;
  background-color: #283618;
}

.main-container .full-width-list_search_container .listado_ingredientes #lista_ingredientes li a:hover {
  background-color: #DDA15E;
  color: #283618;
  font-weight: 600;
}

.main-container .container-cards {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 0;
}

.main-container .container-cards .card {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin: 1rem;
  padding-bottom: .5rem;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  border: 1px solid rgba(51, 51, 51, 0.5);
}

.main-container .container-cards .card .picture {
  width: 100%;
  height: 160px;
  border-bottom: 1px solid #283618;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container .container-cards .card .picture img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container .container-cards .card .marca {
  width: 100%;
  font-size: 1rem;
  color: #333;
  padding: .5rem .2rem;
}

.main-container .container-cards .card .description {
  display: none;
}

.main-container .container-cards .card .icon-plus i {
  font-weight: 600;
  font-size: 30px;
}

.main-container .container-cards .card:hover {
  -webkit-box-shadow: 0 0 25px rgba(51, 51, 51, 0.8);
          box-shadow: 0 0 25px rgba(51, 51, 51, 0.8);
}

/*============ FINAL CONTENEDOR INGREDIENTES =============*/
/*============ FOOTER ===============*/
/*============ FINAL FOOTER ===============*/
/*===== COLORS =======*/
/*===== FONTS ======*/
/*====== MIXINGS ========*/
/*====HEADER====*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FEFAE0;
  font-size: 1.2rem;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  font-family: "FontAwesome" !important;
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 55%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-product .info-product #content .picture {
  width: 40%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1.2rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: 1rem;
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  background-color: #283618;
  border-top: 1px solid #283618;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #FEFAE0;
  font-weight: 300;
  z-index: 2;
}

/*======= FINAL FOOTER ========*/
body {
  background: #FEFAE0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper {
  width: 350px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
          box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
}

body .wrapper h1 {
  font-size: 2rem;
  color: #333;
}

body .wrapper p {
  margin-bottom: 1.7rem;
}

body .wrapper form input {
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 8px;
}

body .wrapper form .recover {
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}

body .wrapper form .recover a {
  text-decoration: none;
  color: #333;
}

body .wrapper button {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background-color: #606C38;
  color: #fff;
  cursor: pointer;
}

body .wrapper button:hover {
  background-color: #283618;
}

body .wrapper .or {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}

body .wrapper .icons i {
  color: #606C38;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid #283618;
}

body .wrapper .icons i:hover {
  color: #FEFAE0;
  background: #283618;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid #283618;
}

body .wrapper .not-member {
  font-size: 0.8rem;
  margin-top: 1.4rem;
}

body .wrapper .not-member a {
  color: #BC6C25;
  text-decoration: none;
}

body .wrapper .not-member a:hover {
  text-decoration: underline;
}

/*===== COLORS =======*/
/*===== FONTS ======*/
/*====== MIXINGS ========*/
/*====HEADER====*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FEFAE0;
  font-size: 1.2rem;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  font-family: "FontAwesome" !important;
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 55%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-product .info-product #content .picture {
  width: 40%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1.2rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: 1rem;
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  background-color: #283618;
  border-top: 1px solid #283618;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #FEFAE0;
  font-weight: 300;
  z-index: 2;
}

/*======= FINAL FOOTER ========*/
/*============ HEADER ===============*/
/*============ FINAL HEADER ===============*/
/*====MAIN CONTENT====*/
#main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100vh;
}

#main-container .container-cards {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 0;
}

#main-container .container-cards .card {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin: 1rem;
  padding-bottom: .5rem;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  border: 1px solid rgba(51, 51, 51, 0.5);
}

#main-container .container-cards .card .picture {
  width: 100%;
  height: 160px;
  border-bottom: 1px solid #283618;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-container .container-cards .card .picture img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-container .container-cards .card .marca {
  width: 100%;
  font-size: 1rem;
  color: #333;
  padding: .5rem .2rem;
}

#main-container .container-cards .card .description {
  display: none;
}

#main-container .container-cards .card .icon-plus i {
  font-weight: 600;
  font-size: 30px;
}

#main-container .container-cards .card:hover {
  -webkit-box-shadow: 0 0 25px rgba(51, 51, 51, 0.8);
          box-shadow: 0 0 25px rgba(51, 51, 51, 0.8);
}

/*====FINAL MAIN CONTENT====*/
/*============ FOOTER ===============*/
/*============ FINAL FOOTER ===============*/
/*===== COLORS =======*/
/*===== FONTS ======*/
/*====== MIXINGS ========*/
/*====HEADER====*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FEFAE0;
  font-size: 1.2rem;
}

#sidemenu {
  background-color: #606C38;
  color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*====HEADER====*/
  /*====FINAL HEADER====*/
  /*====PERFIL====*/
  /*====FINAL PERFIL====*/
  /*====ITEMS====*/
  /*====FINAL ITEMS====*/
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  background-color: #283618;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #title {
  overflow: hidden;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 45px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #header #menu-btn:hover {
  background-color: #283618;
}

#sidemenu #profile {
  border-bottom: 1px solid #283618;
  cursor: pointer;
  text-align: center;
}

#sidemenu #profile #photo {
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  border-radius: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 1.5rem;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item a {
  display: block;
  padding-left: .3rem;
  margin: 1rem 0;
}

#sidemenu #menu-items .item a:hover {
  background-color: #283618;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  font-family: "FontAwesome" !important;
  width: 100%;
  font-size: 1.3rem;
}

#sidemenu #menu-items .item .icon.logout i {
  color: #BC6C25;
  font-size: 1.5rem;
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 1rem;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: 1px solid #283618;
}

.menu-expanded {
  width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc($width - $width-collapsed - 5px);
  overflow: hidden;
}

.menu-expanded #header #menu-btn .top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.menu-expanded #header #menu-btn .middle {
  display: none;
}

.menu-expanded #header #menu-btn .bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.menu-expanded #profile {
  padding: 10px;
}

.menu-expanded #profile #photo img {
  width: 85px;
  height: 85px;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #photo {
  padding: 10px 0;
}

.menu-collapsed #profile #photo img {
  width: 40px;
  height: 40px;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

/*====FINAL HEADER====*/
/*====POP UP====*/
.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup-product .info-product {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 55%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem;
}

.popup-product .info-product #menu-btn-popup {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.popup-product .info-product #menu-btn-popup:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.top {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.popup-product .info-product #menu-btn-popup .btn-hamburger-popup.bottom {
  -webkit-transform: rotate(-45deg) translate(2px, 0);
          transform: rotate(-45deg) translate(2px, 0);
}

.popup-product .info-product #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-product .info-product #content .picture {
  width: 40%;
  height: auto;
}

.popup-product .info-product #content .picture img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup-product .info-product #content .content-product {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  text-align: justify;
}

.popup-product .info-product #content .content-product .title {
  font-size: 1.2rem;
  padding: .8rem 0;
}

.popup-product .info-product #content .content-product .descripcion {
  font-size: 1rem;
}

/*====FINAL POP UP====*/
/*======= FOOTER ========*/
.footer {
  background-color: #283618;
  border-top: 1px solid #283618;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #FEFAE0;
  font-weight: 300;
  z-index: 2;
}

/*======= FINAL FOOTER ========*/
/*============ HEADER ===============*/
/*============ FINAL HEADER ===============*/
/*====MAIN CONTAINER====*/
/*====FINAL MAIN CONTAINER====*/
#main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

#main-container .wrapper_account_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 20px rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 20px rgba(51, 51, 51, 0.5);
  border-radius: 10px;
  background-color: #fff;
  width: 60%;
}

#main-container .wrapper_account_profile .picture_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#main-container .wrapper_account_profile .picture_profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #333;
}

#main-container .wrapper_account_profile .info_profile {
  width: 60%;
  padding: 1rem;
}

#main-container .wrapper_account_profile .btn_profile {
  margin: 1rem 0;
}

#main-container .wrapper_account_profile .btn_profile button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#main-container .wrapper_account_profile .btn_profile #modify {
  background-color: #606C38;
  color: #FEFAE0;
}

#main-container .wrapper_account_profile .btn_profile #modify:hover {
  background-color: #283618;
}

#main-container .wrapper_account_profile .btn_profile #save {
  color: #FEFAE0;
  background-color: #283618;
}

#main-container .wrapper_account_profile .btn_profile #save:hover {
  background-color: #606C38;
}

#main-container .wrapper_account_profile .btn_profile #delete {
  background-color: #fff;
  border: 1px solid #BC6C25;
  color: #BC6C25;
}

#main-container .wrapper_account_profile .btn_profile #delete:hover {
  background-color: #BC6C25;
  color: #FEFAE0;
}

/*============ FOOTER ===============*/
/*============ FINAL FOOTER ===============*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
