@import "__default_styles";

/*============ HEADER ===============*/
//ESTILOS EN "__default_styles"
/*============ FINAL HEADER ===============*/

/*====MAIN CONTAINER====*/


/*====FINAL MAIN CONTAINER====*/
#main-container-account{
    @include flex;
    width: 1140px;
    height: 100vh;

    
    .wrapper_account_profile{
        @include flex;
        flex-direction: column;
        box-shadow: 0 0 20px rgba(#333, .5);
        border-radius: 10px;
        background-color: #fff;
        width: 80%;
    

        .picture_profile{
            @include flex;
            padding: .5rem;
            border-radius: 10px;
            width: 100%;
            background-color: $green;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }

        .info_profile{
            width: 65%;
            margin: 1rem;
            display: flex;
            flex-direction: column;

            label{
                padding-left: .6rem;
            }

            input{
                margin: .6rem;
                border: none;
                font-size: 1.2rem;
                color: rgba(#333, .8);
                padding: .5rem 0;
                background-color: rgba(#333, .05);
                padding: .8rem .8rem .8rem .5rem;
                border-radius: 5px;
                letter-spacing: 1.5px;
                &:focus{
                    padding-left: .8rem;
                    outline: none;
                   
                    color: $black;

                }

                
            }
        }
        .visible{
            border:0.5px solid $green !important;
            background-color: transparent !important;
        }
        .mensaje-guardado{
            display: none;
            background-color: $green;
            border-radius: 6px;
            padding: .6rem;
            color: $beige;
            font-size: 1rem;
        }

        .btn_profile{
            button{
                cursor: pointer;
                border: none;
                border-radius: 8px;
                padding: 1rem;
                font-size: 1rem;
                margin: .5rem 1rem;
                transition: all .4s;
            }
            #modify{
                background-color: transparent;
                color: $orange;
                border: 1px solid $lightOrange;
                &:hover{
                    background-color: $lightOrange;
                    color: $beige;
                }
            }
            #save{
                color: $beige;
                background-color: $green;

                &:hover{
                    background-color:  $darkGreen;
                }

            }
        }
    }
}

/*============ FOOTER ===============*/
//ESTILOS EN "__default_styles"
/*============ FINAL FOOTER ===============*/


@media all and (max-width: 1140px){

    #main-container-account{
        .wrapper_account_profile{
            margin-left: 50px;
        }
    }
}

@media all and (max-width: 800px){

    #main-container-account{
        .wrapper_account_profile{

            .picture_profile{
                img{
                    width: 125px;
                    height: 125px;
                }
            }
        }
    }
}

@media all and (max-width: 600px){

    #main-container-account{
        .wrapper_account_profile{

            .picture_profile{
                img{
                    width: 100px;
                    height: 100px;
                }
            }

            .info_profile{
                width: 90%;
            }
        }
    }
}

@media all and (min-width: 375px) and (max-width: 500px) {

    #main-container-account{
        .wrapper_account_profile{

            .picture_profile{
                img{
                    width: 80px;
                    height: 80px;
                }
            }

            .info_profile{
                margin: 0;
                label{
                    font-size: .8rem;
                }

                input{
                    letter-spacing: .5px;
                    font-size: .75rem;
                }


            }

            .btn_profile{
                margin: 0;
                padding: .75rem;

                button{
                    margin: 0 .75rem;
                }
            }
        }
    }
    
}