@import "__default_styles";

body {
    height: 100vh;
    @include flex;

    #picture{
        position: absolute;
        top: 50px;
        left: 50px;

        img{
            width: 200px;
        }
    }

    .wrapper {
        width: 40%;
        background-color: #fff;
        padding: 4rem 2rem 2rem;
        margin: 50px auto;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 25px 5px rgba($black, 0.5);

        h1 {
            font-size: 3rem;
            color: $black;
        }

        p {
            margin-bottom: 2.1rem;
        }

        form {
            margin: 0 auto;
            width: 100%;
            input {
                width: 85%;
                outline: none;
                border: none;
                text-align: center;
                padding: 12px 0 5px 14px;
                margin-bottom: 10px;
                border-bottom: 1px solid $darkGreen;
                font-size: 1.25rem;
            }

            .recover {
                text-align: right;
                font-size: 0.8rem;
                margin: 0.2rem 1.7rem 0 0;

                a {
                    text-decoration: none;
                    color: $black;

                    &:hover{
                        color: $orange;
                    }
                }
            }
        }

        #back{
            color: $black;
            font-size: .8rem;
        }

        button {
            font-size: 1.1rem;
            padding: 12px 0;
            outline: none;
            border: none;
            width: 55%;
            background-color: $green;
            color: #fff;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            margin-top: 1rem;
            
            &:hover {
                background-color: $darkGreen;
            }
        }

        #create-account{

            color: $darkGreen;
            background-color: transparent;
            border: 1px solid $darkGreen;
            margin-bottom: 1rem;

            &:hover{
                border: none;
                background-color: $green;
                color: #fff;
            }
        }

        .not-member {
            font-size: 0.8rem;
            margin-top: 1.4rem;

            a {
                color: $orange;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    

   
}

@media all and (max-width: 1140px){

    .picture{
        img{
            width: 150px !important;
        }
    }

    .wrapper{
        h1{
           font-size: 2rem !important; 
        }
        p{
            font-size: 1rem !important;
        }

        form{
          width: 100% !important;  

          .recover{
              a{
                  font-size: .8rem;
              }
          }
        }

        button{
            width: 90% !important;
        }
    }
}


@media all and (max-width: 1000px){
    .wrapper{
        width: 55% !important;
    }
}

@media all and (max-width: 700px){
    .wrapper{
        width: 70% !important;
    }
}

@media all and (min-width: 350px) and (max-width: 500px){
    .wrapper{
        width: 90% !important;

        h1{
            font-size: 1.5rem;
        }

        p{
            font-size: .8rem;
        }

        form{
            input{
                font-size: 1rem;
            }
        }
    }
}