@import "__default_styles";

* {
    @include resetStyle;
}

body{margin-left: 0}

/*============ HEADER ===============*/
//ESTILOS EN "__default_styles"
/*============ FINAL HEADER ===============*/


/*=========== BUSCADOR INGREDIENTES ================*/
.main-container {

    @include flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .full-width-search_container {
        @include flex;
        position: relative;
        background-color: $green;
        width: 60%;
        padding: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;


        .principal_container {
            @include flex;
            padding: 1rem;
            width: 100%;

            .container_add {
                width: 100%;

                #form-add {
                    @include flex;

                    #ingreso {
                        width: 70%;
                        padding: 1rem 0 1rem 1rem;
                        border-radius: 5px;
                        border: none;
                        margin-right: 1rem;

                        &::placeholder {
                            font-size: 1rem;
                        }
                    }

                    #btn_add, #btn_repeat {
                        width: 24%;
                        padding: 1rem 1rem;
                        border-radius: 5px;
                        border: none;
                        background-color: $beige;
                        cursor: pointer;
                        margin: 0 .5rem;

                        font: {
                            size: 1rem;
                            weight: 600;
                        }

                        &:hover {
                            font-weight: 600;
                        }
                    }
                    #btn_add{
                        color: $black;
                        &:hover{
                            box-shadow: 0 0 20px rgba($beige, .8);
                        }
                    }
                    #btn_repeat{
                        background-color: $darkGreen;
                        color: $beige;
                        &:hover{
                            box-shadow: 0 0 20px rgba($beige, .8);
                        }
                    }
                }
            }
        }

    }

    /*=========== FINAL BUSCADOR INGREDIENTES ================*/

    /*============ CONTENEDOR INGREDIENTES =============*/
    .full-width-list_search_container {
        width: 60%;
        padding: 1rem;
        @include flex;

        .listado_ingredientes {
            width: 1140px;

            #lista_ingredientes {
                @include flex;
                border-bottom: 2px solid $darkGreen;
                flex-wrap: wrap;
                list-style-type: none;
                position: relative;

                li {
                    cursor: pointer;
                    margin: 1.5rem 1rem;

                    a {
                        padding: 1rem;
                        border-radius: 6px;
                        color: $beige;
                        text-decoration: none;
                        background-color: $darkGreen;

                        &:hover {
                            background-color: $lightOrange;
                            color: $darkGreen;
                            font-weight: 600;
                        }
                    }
                }

            }

        }
    }

    .table_products{
        background-color: #fff;
        border-radius: 8px;
        width: 50%;
        box-shadow: 0 0 10px rgba($black, .5);
        padding: 2rem;

        .product{
            @include flex;
            justify-content: space-around;
            cursor: pointer;
            width: 100%;
            height: 100px;
            margin: 1rem;
            padding: .5rem;
            border-radius: 8px;

            .picture_product{
                width: 150px;
                height: 100px;
                
                img{
                    width: 100%;
                    height: 99%;
                }
            }

            .info_product{
                .title{

                }
                .description{
                    display: none;
                }
            }

            &:hover{
                background-color: $green;
                .info_product{
                    .title{
                        color: $beige;
                    }
                }
            }
        }
    }
}

/*============ FINAL CONTENEDOR INGREDIENTES =============*/

/*============ FOOTER ===============*/
//ESTILOS EN "__default_styles"
/*============ FINAL FOOTER ===============*/