<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../assets/js/__search_filter.js"></script>
    <title>Buscador Ingredientes | NombreEmpresa</title>
</head>

<body>



    <header>
        <div class="head_container">
            <div class="logo">
                <img src="../assets/img/huella_logo.png">
            </div>
            <div class="menu" id="myTopnav">
                <ul>
                    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="openNav()">&#9776;</a>
                    <li><a href="#">Juanfran Montero</a></li>
                    <li><a href="#">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Juanfran Montero</a>
        <a href="#">Perfil</a>
        <a href="#">Cerrar Sesión</a>
        <p>Nombre Empresa &copy; 2022</p>
    </div>






    <!-- <header>
        <nav class="navbar">
            <div class="logo">
                <a href="#"><img src="../assets/img/huella_logo.png" alt="LOGO"></a>
            </div>
            <div class="push-left">
                <button id="menu-toggler" data-class="menu-active" class="hamburger">
                    <span class="hamburger-line hamburger-line-top"></span>
                    <span class="hamburger-line hamburger-line-middle"></span>
                    <span class="hamburger-line hamburger-line-bottom"></span>
                </button>

                <ul id="primary-menu" class="menu nav-menu">
                    <li class="menu-item current-menu-item"><a class="nav__link" href="#">Juanfran Montero</a></li>
                    <li class="menu-item dropdown"><a class="nav__link" href="#">Configuración</a></li>
                    <li class="menu-item dropdown"><a class="nav__link" href="#">Cerrar Sesión</a></li>
                </ul>


            </div>
        </nav>
    </header> -->


    <div class="full-width-search_container">

        <div class="principal_container">

            <div class="container_add">
                <form action="#" id="form-add">
                    <input type="text" id="ingreso" placeholder="Ingrese un ingrediente...">
                    <button id="btn_add">Añadir</button>
                </form>
            </div>
        </div>
    </div>
    <div class="full-width-list_search_container" id='container-view'>
        <div class="listado_ingredientes">
            <ul id="lista_ingredientes">
            </ul>
        </div>
    </div>

    <footer class="footer">&copy; Todos los derechos reservados | 2022</footer>

</body>

</html>